# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Ignore Visual Studio files
openglGame/openglGame/.vs/

# Ignore build output directories
openglGame/openglGame/x64/
openglGame/openglGame/Debug/
openglGame/openglGame/Release/

openglGame/openglGame/libraries/include/
openglGame/openglGame/libraries/lib/